@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .subMenuClose {
    @apply fixed z-20 top-0 -right-full bottom-0 bg-white dark:bg-zinc-700 w-64 min-h-screen pt-3 px-4 transition-all hidden;
  }
  .subMenuOpen {
    @apply fixed  z-20 top-0 right-0 bottom-0 bg-white dark:bg-zinc-700 w-64 min-h-screen pt-3 px-4 transition-all;
  }
  .userBasketClose {
    @apply fixed z-20  flex-col justify-between py-5 px-4 top-0 -left-full bottom-0 w-64 min-h-screen bg-white dark:bg-zinc-700 hidden;
  }
  .userBasketOpen {
    @apply fixed z-20 flex flex-col justify-between py-5 px-4 top-0 left-0 bottom-0 w-64 min-h-screen bg-white dark:bg-zinc-700;
  }
}

@layer base {
  @font-face {
    font-family: "Dana"; /*400*/
    src: url("./fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "/"; /*500*/
    src: url("./fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "DanaDemiBold"; /*600*/
    src: url("./fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Light";
    src: url("./fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("./fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("./fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }
}

body {
  font-family: dana;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  @apply max-md:hidden md:flex items-center justify-center border rounded-full;
}
.circle--main {
  @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4;
}
.circle--lg {
  @apply w-[203px] h-[203px] border-white/25;
}
.circle--md {
  @apply w-[145px] h-[145px] border-white/50;
}
.circle--sm {
  @apply w-[95px] h-[95px] border-white/80;
}

@media screen and (min-width: 1024px) {
  html.dark .products {
    background: url(../public/images/prodcut-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .products {
    background: linear-gradient(
        rgba(243, 244, 246, 0.65),
        rgba(243, 244, 246, 0.65)
      ),
      url(../public/images/prodcut-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

::-webkit-scrollbar {
  width: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-radius: 30px;
  @apply bg-orange-300/20;
}

::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 30px;
  cursor: pointer;
}
